@model QADraft.Models.User

@{
    ViewData["Title"] = "Add User";
    Layout = ViewBag.Layout;
}

<h2>Add User</h2>

<!-- Form to get details of the user being added -->
<form id="add-user-form" asp-controller="User" asp-action="AddUser" method="post">
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input id="username" asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input id="password" type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <input id="confirmPassword" type="password" asp-for="Password" class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input id ="firstname" asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input id="lastname" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email Address</label>
        <input id="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="Theme" class="control-label"></label>
        <select id="role" asp-for="Theme" class="form-control">
            <option class="placeholder" value="" disabled selected>Select Theme</option>
            <option value="dark">Dark</option>
            <option value="default">Default</option>
        </select>
        <span asp-validation-for="Theme" class="text-danger"></span>
    </div>

    
    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <select id="role" asp-for="Role" class="form-control">
            <option class="placeholder" value="" disabled selected>Select Role</option>
            <option value="Geek">Geek</option>
            <option value="Coordinator">Coordinator</option>
            <option value="Admin">Admin</option>
            <option value="Super Admin">Super Admin</option>
            <option value="Inactive">Inactive</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="isActive" class="control-label">Currently Employed</label>
        <input type="checkbox" asp-for="isActive" />
        <span asp-validation-for="isActive" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Theme">
    <div class="form-group">
        <!-- Use a button instead of a form input to call javascript to check passwords -->
        <button onclick="addUser()" class="buttons form-buttons">Add User</button>
        <input type="submit" value="Add User" class="buttons form-buttons" hidden/>
        <!-- Cancel and redirect to home -->
        <button onclick="cancel()" class="buttons form-buttons">Cancel</button>
    </div>

    <!-- Form to pass default user theme -->
    <input type="hidden" asp-for="Theme" value="default" />
</form>

<form id="cancel-form" asp-area="" asp-controller="User" asp-action="GeekAccounts" method="get">
    <button type="submit" class="buttons form-buttons" hidden></button>
</form>


<!-- Dynamic Modal Popup for password error messages -->
<dialog id="dialog-password">
	<div class="confirmation-content">
        <!-- Dynamic text -->
        <p id="password-error"></p>
        <!-- Confirmation button container -->
        <div class="confirmation-buttons">
            <!-- Confirmation buttons. Yes will call confirmDelete which will trigger 
            the deleteButton input. No will close the confirmation dialog -->
            <button class="buttons" onclick="document.getElementById('dialog-password').close();">OK</button>
        </div>
    </div>
    <button onclick="document.getElementById('dialog-password').close();" class="x">❌</button>
</dialog>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function addUser() {
            // Get the two password fields
            var pass1 = document.getElementById("password");
            var pass2 = document.getElementById("confirmPassword");

            // Verify that the two passwords are the same
            if (pass1.value == pass2.value) {
                password = document.getElementById("password").value.trim();
                if (password.length < 8) {
                    displayModal("Password must be at least 8 characters long.");
                }
                else if (!/[A-Z]/.test(password)){
                    displayModal("Password must contain at least one uppercase letter.");
                }
                else if (!/[^A-Za-z0-9]/.test(password)) {
                    displayModal("Password must contain at least one special character.");
                }
                else if (!/\d/.test(password)) {
                    displayModal("Password must contain at least one numeric character.");
                }
                else {
                    // If password meets criteria, proceed with form submission
                    document.querySelector('input[type="submit"][value="Add User"]').click();
                }
            }
            else {
                // If the passwords are different, clear the password fields
                pass1.value = "";
                pass2.value = "";
                
                // display an error
                displayModal("Password must match");
            }
        }

        function displayModal(message) {
            // Set the text of the modal to the message string
            document.getElementById("password-error").innerHTML = message;
            // Show the popup
            document.getElementById('dialog-password').showModal();
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Highlight the current page's link
            var geekAccountsLink = document.getElementById('geek-accounts-link'); 
            geekAccountsLink.classList.toggle('highlight-link');

        });

        function cancel()
        {
            const form = document.getElementById('add-user-form');

            form.remove();
            
            var cancelForm = document.getElementById("cancel-form");

            cancelForm.submit();
        }
    </script>
}
