@model QADraft.Models.User

@{
    ViewData["Title"] = "Edit User";
    Layout = ViewBag.Layout;
}

<partial name="_GeeksMenu" />
<h2>Edit User</h2>

<!-- Form to get updated information on the user being edited -->
<form asp-controller="User" asp-action="EditUser" method="post">
    <div class="form-group">
        <label asp-for="Username" class="control-label">Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">New Password</label>
        <input id="password-field" type="password" asp-for="Password" class="form-control" value=""/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Confirm Password</label>
        <input id="confirm-password-field" type="password" asp-for="Password" class="form-control" value=""/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email Address</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="isActive" class="control-label">Currently Employed</label>
        <input type="checkbox" asp-for="isActive" />
        <span asp-validation-for="isActive" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Role" class="control-label">Role</label>
        <select asp-for="Role" class="form-control" id="natureSelect">
            <option value="">Select Role</option>
            <option value="Geek">Geek</option>
            <option value="Coordinator">Coordinator</option>
            <option value="Admin">Admin</option>
            <option value="PreviouslyEmployed">Previously Employed</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit User" class="btn btn-primary" hidden/>
    </div>

    <!-- Form to passthrough user's theme -->
    <input type="hidden" asp-for="theme" />
</form>

<div>
    <button onclick="openConfirmation()" class="btn buttons form-buttons">Save Changes</button>
</div>

<!-- Edit User Confirm Popup -->
<div id="confirmationDialog" class="confirmation-dialog">
    <div class="confirmation-content">
        <p>Press Confirm to Edit this User's information.'</p>
        <div class="confirmation-buttons">
            <button class="btn btn-danger" onclick="confirmEdit()">Confirm</button>
            <button class="btn btn-secondary" onclick="closeConfirmation()">Cancel</button>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Highlight the current page's link
            var geekAccountsLink = document.getElementById('geek-accounts-link'); 
            geekAccountsLink.classList.toggle('highlight-link');

            // Change the color of the button that brings you to this page
            var thisPageButton = document.getElementById('add-user-button');
            thisPageButton.classList.toggle('button-for-current-page');
        });

        function openConfirmation() {
            console.log("OpenConfirmation");

            // Show the confirmation dialog
            document.getElementById('confirmationDialog').style.display = 'block';
        }

        function closeConfirmation() {
            document.getElementById('confirmationDialog').style.display = 'none';
        }

        function confirmEdit() {
            closeConfirmation();

            // Get the two password fields
            var pass1 = document.getElementById("password-field");
            var pass2 = document.getElementById("confirm-password-field");

            // First check if the password was changed
            if (pass1.value.trim() == "" && pass2.value.trim() == "") {
                // Assign '-' as the password value. This value is arbitrary, any value will 
                // work as long as it matches what is expected in the controller action. The
                // controller will catch this value and leave the password unchanged
                document.getElementById("password-field").value = "-";
                // Submit the form
                document.querySelector('input[type="submit"][value="Edit User"]').click();
                return false;
            }
            // If either were changed, do password validation
            if (pass1.value == pass2.value) {
                // If they match, do password validation
                password = document.getElementById("password-field").value.trim();
                if (password.length < 8) {
                    alert("Password must be at least 8 characters long.");
                }
                else if (!/[A-Z]/.test(password)){
                    alert("Password must contain at least one uppercase letter.");
                }
                else if (!/[^A-Za-z0-9]/.test(password)) {
                    alert("Password must contain at least one special character.");
                }
                else if (!/\d/.test(password)) {
                    alert("Password must contain at least one numeric character.");
                }
                else {
                    // Otherwise, password meets criteria, proceed with form submission
                    document.querySelector('input[type="submit"][value="Edit User"]').click();
                }

            }
            else {
                // If the passwords are different, lear the password fields
                pass1.value = "";
                pass2.value = "";
                
                // display an error
                alert("Password must match");
            }

        }

    </script>
}
