<style>
    #menu-bar {
        margin-bottom: 50px;
    }
</style>

<h1>Reports Menu</h1>

<div id="menu-bar">
    <!--Links for User Settings page-->
    <a class="btn buttons" asp-area="" asp-controller="User" asp-action="GeekAccounts">Geek Accounts</a>
    <a class="btn buttons" asp-area="" asp-controller="User" asp-action="AddUser">Add User</a>
</div>