<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap">
<style>
    .navbar {
        font-family: 'Barlow', sans-serif;
        font-weight: 100;
        padding: 10px; 
    }

    .navbar-brand {
        margin-right: 20px; 
    }

    .navbar-nav {
        margin-left: auto;
    }

    .nav-item {
        margin-right: 30px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QADraft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QADraft.styles.css" asp-append-version="true" />
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .navbar {
            background-color: #861F41;
        }
        .navbar-brand, .nav-link {
            color: #ffffff !important;
        }
        .footer {
            background-color: #f8f9fa;
            padding: 10px 0;
        }
        .footer a {
            color: #343a40;
        }
        .container {
            margin-top: 20px;
        }
        header {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/images/logoWhite.png" alt="Geeks Logo" style="max-width: 100px; max-height: 50px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{
                    string isAuthenticated = Context.Session.GetString("IsAuthenticated");
                    var user = Context.Session.GetMessage("username");
                }

                @if (isAuthenticated == "true")
                {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="QADescriptions">QA Descriptions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="DetailedQAReports">Detailed QA Reports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AddUser">Add User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AddQA">Add QA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Links">Links</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings"><img src="~/images/images/settings.png" alt="Settings" style="max-width: 25px; max-height: 25px;"></a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted border-top" style="padding: 0px; text-align: center;">
        <div >
            EKU IT Geeks Quality Assurance
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
