<div class="btn-group" role="group" aria-label="Detailed QA Reports Options">
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="BetweenDates">Between Dates</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="AllGeekQAs">All Geek QAs</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="FlaggedAccounts">View All Flagged Accounts</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="QADescriptions">QA Descriptions</a>
</div>
