<h1>Reports Menu</h1>

<div id="nav-buttons">
    <a class="btn btn-warning" asp-area="" asp-controller="QA" asp-action="Filter">Filter</a>
    <a class="btn btn-warning" asp-area="" asp-controller="QA" asp-action="AllGeekQAs">All Geek QAs</a>
    <a class="btn btn-warning" asp-area="" asp-controller="QA" asp-action="FlaggedAccounts">View All Flagged Accounts</a>
    <a class="btn btn-warning" asp-area="" asp-controller="QA" asp-action="QADescriptions">QA Descriptions</a>
</div>