<style>
    .menu-button {
        color: #fff;
        background-color: #861F41;
        border-color: #861F41;
    }
        
        .menu-button:hover {
            color: #fff;
            background-color: #b31f4f;
            border-color: #E6A65D;
        }

    #menu-bar {
        margin-bottom: 50px;
    }

</style>

<h1>Reports Menu</h1>

<div id="menu-bar">
    <a class="btn buttons" asp-area="" asp-controller="QA" asp-action="YourQAs">Your QAs</a>
    <a class="btn buttons" asp-area="" asp-controller="QA" asp-action="Filter">Filter</a>
    <a class="btn buttons" asp-area="" asp-controller="QA" asp-action="AllGeekQAs">All Geek QAs</a>
    <a class="btn buttons" asp-area="" asp-controller="QA" asp-action="FlaggedAccounts">View All Flagged Accounts</a>
    <a class="btn buttons" asp-area="" asp-controller="QA" asp-action="QADescriptions">QA Descriptions</a>
    <a class="btn buttons" asp-area="" asp-controller="Chart" asp-action="Charts">QA Charts</a>
</div>