<div class="btn-group" role="group" aria-label="Detailed QA Reports Options">
    <!--Links for User Settings page-->
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="UserOptions">User Options</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="AddUser">Add User</a>
</div>
