<!-- This partial view will place the pie chart into main page wherever you place the partial -->
<!-- If the chart is not showing, ensure that the Dictionaries are passed by the  -->
@{
    //load viewbag dictionaries
    var categoryDict = ViewBag.categoryDict as Dictionary<string, int>;
    var natureDict = ViewBag.natureDict as Dictionary<string, int>;
}
    <table id="donut-chart-legend-table">
        <tbody id="donut-chart-legend-table-body">
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>


<!-- Load d3.js -->
<script src="https://d3js.org/d3.v6.js"></script>

<div id="container" />

<script>
// set the dimensions and margins of the graph
const width = 500,
    height = 500,
    margin = 60

// The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
const radius = Math.min(width, height) / 2 - margin;

// Add the tooltip
const tooltip = d3.select("#donut-chart-tooltip");

// append the svg object to the div called 'container'
const svg = d3.select("#donut-chart-div")
  .append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", `translate(${width/2},155)`);


function callDonut(type) {
    let data = {}; // To store the current data
    

    if (type === 'category') {
        data = @Html.Raw(Json.Serialize(ViewBag.categoryDict));
    }
    if (type === 'nature') {
        data = @Html.Raw(Json.Serialize(ViewBag.natureDict));
        populateLegend(data);
    }
    console.log(Object.keys(data));
    update(data);
}

const colorsArray = ["#ff0000", // 1: Red
      "#ff2400", // 2: Red-Orange
      "#ff4800", // 3: Orange-Red
      "#ff6b00", // 4: Orange
      "#ff8f00", // 5: Orange-Yellow
      "#ffb200", // 6: Yellow-Orange
      "#ffd600", // 7: Yellow
      "#f1ff00", // 8: Yellow-Green
      "#b8ff00", // 9: Green-Yellow
      "#7eff00", // 10: Green
      "#3eff00", // 11: Green-Cyan
      "#00ff25", // 12: Cyan-Green
      "#00ff64", // 13: Cyan
      "#00ff9e", // 14: Cyan-Blue
      "#00ffdc", // 15: Blue-Cyan
      "#00ddff", // 16: Blue
      "#00a1ff", // 17: Blue-Violet
      "#0064ff", // 18: Violet-Blue
      "#0025ff", // 19: Violet
      "#2e00ff", // 20: Violet-Magenta
      "#6400ff", // 21: Magenta-Violet
    ]

// Set the color scale
const color = d3.scaleOrdinal()
  .range(colorsArray);

function update(data) {
    // Update the color domain based on the current data
    color.domain(Object.keys(data));

    // Compute the position of each group on the pie:
    const pie = d3.pie()
      .sort(null) // Do not sort group by size
      .value(d => d[1]);
    const data_ready = pie(Object.entries(data));

    // The arc generator
    const arc = d3.arc()
      .innerRadius(radius * 0.5)         // This is the size of the donut hole
      .outerRadius(radius * 0.8);

    // Select all slices
    const slices = svg.selectAll('.slice')
      .data(data_ready);

    var strokeColor = '';

    if ('@Context.Session.GetString("Theme")' === "dark") {
        strokeColor = 'white';
    }
    else {
        strokeColor = 'black';
    }

    // Enter new slices
    slices.enter()
      .append('path')
      .attr('class', 'slice')
      .attr('d', arc)
      .attr("fill", (d, i) => color(i)) // Use color scale to fill based on index
      .attr("stroke", strokeColor)
      .style("stroke-width", "2px")
        .style("opacity", 0.7)
        .on("mouseover", function(event, d) {
            tooltip.transition()
            .duration(200)
            .style("opacity", .9);
            tooltip.html(`${d.data[0]}: ${d.data[1]}`)
            .style("left", (event.pageX + 10) + "px")
            .style("top", (event.pageY - 28) + "px");
        })
        .on("mouseout", function() {
            tooltip.transition()
            .duration(500)
            .style("opacity", 0);
        })
        .transition() // Add transition
        .duration(1000) // Duration of transition
        .attrTween("d", function(d) { // Interpolate between old and new paths
            const interpolate = d3.interpolate(this._current, d);
            this._current = interpolate(0);
            return function(t) {
                return arc(interpolate(t));
            };
        });

    // Remove old slices
    slices.exit()
      .remove();


    // Variables to calculate the percentage of each QA
    var totalData = d3.sum(data_ready, d => d.data[1]);
    var percentage = 0;
    var dataArray = data_ready.map(d => d.data[1]);

    // Add labels numbering the slices
    svg.selectAll(".labelNumber")
      .data(data_ready)
      .enter()
      .append("text")
      .attr("class", "labelNumber")
      .attr("transform", d => `translate(${arc.centroid(d)})`)
      .attr("dy", "0.35em")
      .attr("text-anchor", "middle")
      .attr("fill", strokeColor)
      .text((d, i) => {
        // Calculate the percentage and round to one decimal place
        const percentage = (dataArray[i] / totalData) * 100;

        if (percentage > 5)
        {
            return percentage.toFixed(1) + '%'; // Rounds to one decimal place
        }

        return "";

      });

    // Remove old label numbers
    svg.selectAll(".labelNumber")
      .data(data_ready)
      .exit()
      .remove();
}

function populateLegend(data) {
    console.log("populateLegend data.length = " + Object.keys(data).length);

    var legendTable = document.getElementById('donut-chart-legend-table-body');
    legendTable.innerHTML = ''; 

    /*
    Object.keys(data).forEach((key, index) => {
        var row = document.createElement('tr');

        var colorCell = document.createElement('td');
        colorCell.style.width = "25px";
        colorCell.style.backgroundColor = colorsArray[index];
        colorCell.style.border = '1px solid';
        row.appendChild(colorCell);

        var keyCell = document.createElement('td');
        keyCell.textContent = key;
        keyCell.style.paddingLeft = '20px';

        row.style.borderBottom = '1px solid';
        row.appendChild(keyCell);

        legendTable.appendChild(row);
    });
    */


    var halfOfData = 0;

    if (Object.keys(data).length % 2 == 0) {
        halfOfData = Object.keys(data).length / 2;
    }
    else {
        halfOfData = Math.ceil((Object.keys(data).length / 2));
    }

    console.log("halfOfData = " + halfOfData);

    for (let i = 0; i < halfOfData; i++) {
        var row = document.createElement('tr');

        row.style.fontSize = '15px';

        var firstColorCell = document.createElement('td');
        firstColorCell.style.width = "25px";
        firstColorCell.style.backgroundColor = colorsArray[i];  
        firstColorCell.style.border = '1px solid';

        var firstKeyCell = document.createElement('td');
        firstKeyCell.textContent = Object.keys(data)[i];
        firstKeyCell.style.paddingLeft = '20px';
        firstKeyCell.style.paddingRight = '20px';

        row.appendChild(firstColorCell);
            row.appendChild(firstKeyCell);


        if (i + halfOfData >= Object.keys(data).length) {
            var placeholderCell = document.createElement('td');
            row.appendChild(placeholderCell);

            
            legendTable.appendChild(row);

            break;
        }

        var secondColorCell = document.createElement('td');
        secondColorCell.style.width = "25px";
        secondColorCell.style.backgroundColor = colorsArray[i + halfOfData];
        secondColorCell.style.border = '1px solid';

        var secondKeyCell = document.createElement('td');
        secondKeyCell.textContent = Object.keys(data)[i + halfOfData];
        secondKeyCell.style.paddingLeft = '20px';

        row.style.borderBottom = '1px solid';

        row.appendChild(firstColorCell);
        row.appendChild(firstKeyCell);
        row.appendChild(secondColorCell);
        row.appendChild(secondKeyCell);

        

        legendTable.appendChild(row);
    }
}

callDonut('nature');

</script>