@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Guides</h2>

<ul>
    <li><a href="https://mymaileku-my.sharepoint.com/:w:/r/personal/lisa_moore_eku_edu/_layouts/15/doc2.aspx?sourcedoc=%7B289A3D2D-135D-49E3-B92A-D50D7F36DA6B%7D&file=SnipeITComments%201.docx&action=default&mobileredirect=true&DefaultItemOpen=1&ct=1721304073814&wdOrigin=OFFICECOM-WEB.START.EDGEWORTH&cid=58c25856-d852-4823-bec0-029c6b4491d8&wdPreviousSessionSrc=HarmonyWeb&wdPreviousSession=6792a335-fda4-4dd4-bd28-7bc19cbdb90e" target="_blank">Snipe-IT Commenting Guide</a></li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var outageLink = document.getElementById('guides-link'); 
        outageLink.classList.toggle('highlight-link');
    });
</script>