@{
    ViewData["Title"] = "Home Page";
}

<style>
    .dashboard
    {
      background: #f5f5f5; /*off white*/
      text-align: center;

    }

    .dashboard .dash-button
    {
        background-color: #861F41;
        color: white;
        margin: 15px;
        width: 200px;
        height: 200px;
        border-radius: 15px;
    }

</style>



<div class="text-center">
    <h1 class="display-4">Welcome, @Context.Session.GetString("FirstName")!</h1>
</div>

<body class="dashboard">
    <div>
        <button class="dash-button">Button1</button>
        <button class="dash-button">Button2</button>
    </div>
    <div>
        <button class="dash-button">Button3</button>
        <button class="dash-button">Button4</button>
    </div>
</body>