@{
    ViewData["Title"] = "Login";
    Layout = ViewBag.Layout;
}

<style>
    /* Styles for the login box */
    .login {
        background-color: #f5f5f5;
        border: 2px groove black;
        width: 300px;
        margin: 0 auto;
        text-align: center
    }
        

    /* Styles for the login container */
    .container {
        width 100%;
        text-align: center;
        padding-bottom: 25px;
    }

    /* Styles for input forms (username and password) */
    .form-group {
        margin-bottom: 20px;
    }
</style>

<div class="login">
    <div class="container">
        <h2 class="text-center">Login</h2>
        <form asp-action="Login" method="post">
            <!-- Label and text input for username -->
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <!-- Label and password input for password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <!-- Form Submit button -->
            <button type="submit" class="buttons">Login</button>
        </form>
    </div>
</div>