@{
    ViewData["Title"] = "Outages";
    Layout = ViewBag.Layout;
}

<h2>Links to Server Statuses</h2>

<!-- List of external links -->
<ul>
    <!-- Amazon -->
    <li>
        <a href="https://health.aws.amazon.com/health/status" target="_blank">Amazon Web Services<a>
    </li>
    <!-- Blackboard -->
    <li>
        <a href="https://status.blackboard.com/" target="_blank">Blackboard</a>
    </li>
    <!-- Canvas -->
    <li>
        <a href="https://status.instructure.com/" target="_blank">Canvas</a>
    </li>
    <!-- DocuSign -->
    <li>
        <a href="https://status.docusign.com/?_gl=1*tx1yfs*_gcl_aw*R0NMLjE3MTQ0MTYxNDQuQ2owS0NRandpcjJ4QmhDX0FSSXNBTVRYazg3bGViTE9BanRhaVVkVS15S2dVdUxxejhGOFpvMmdrWDljZV8xbDh3RHl1dU5xR1RFUUs2a2FBc0VWRUFMd193Y0I.*_gcl_au*MTk3MTc5MDYzMi4xNzE3NTE2ODA3*_ga*MTAzODM3OTgwNS4xNzA5NTU0NDYw*_ga_1TZ7S9D6BQ*MTcxNzYwOTM5Ni41LjAuMTcxNzYwOTM5OC41OC4wLjA.&_ga=2.228655643.628467452.1717609396-1038379805.1709554460&_gac=1.28317390.1714416144.Cj0KCQjwir2xBhC_ARIsAMTXk87lebLOAjtaiUdU-yKgUuLqz8F8Zo2gkX9ce_1l8wDyuuNqGTEQK6kaAsEVEALw_wcB" target="_blank">Docusign</a>
    </li>
    <!-- Google -->
    <li>
        <a href="https://www.google.com/appsstatus/dashboard/#hl=en&v=status" target="_blank">Google</a>
    </li>
    <!-- Azure -->
    <li>
        <a href="https://azure.status.microsoft/en-us/status" target="_blank">Microsoft Azure</a>
    </li>
    <!-- Microsoft -->
    <li>
        <a href="https://admin.microsoft.com/servicestatus" target="_blank">Microsoft Services</a>
    </li>
    <!-- Zoom -->
    <li>
        <a href="https://status.zoom.us/" target="_blank">Zoom</a>
    </li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var outageLink = document.getElementById('outages-link'); 
        outageLink.classList.toggle('highlight-link');
    });
</script>