@{
    ViewData["Title"] = "Permissions Denied";
    Layout = ViewBag.Layout;
}

<!-- When a user attempts to access a page they do not have access to they should instead be directed to this page -->
<h3>Permissions Denied</h3>
<h2>Your role does not have permission to access this page.<h/2>
