<partial name="PieChart.cshtml" />

<div">
    <!-- Add buttons to swap between data sources -->
    <button onclick="call('category')">Category</button>
    <button onclick="call('nature')">Nature</button>
</div>

