@{
    ViewData["Title"] = "Charts";
}

<h1>Charts</h1>

<button onclick="toggleChart('BarChartDiv')" class="buttons">Show/Hide BarChart</button>
<div>
    <!-- Partial view must placed within a div that is nested in another div. -->
    <div id="BarChartDiv">
        <!-- Load the partial view for the BarChart-->
        <partial name="BarChart"/>
    </div>
</div>


<button onclick="toggleChart('DonutChartDive')" class="buttons">Show/Hide DonutChart</button>
<div>
    <!-- Partial view must placed within a div that is nested in another div. -->
    <div id="DonutChartDive">
        <!-- Load the partial view for the DonutChart-->
        <partial name="DonutChart"/>
    </div>
</div>


<script>
    // Function to toggle the visibility of the DonutChart(s)
        function toggleChart(chartDiv) {
            // Select the div containing the chart and the buttons to change chart
            // Toggle their visibility using .toggle()
            $("#" + chartDiv).toggle();
        }
</script>