@{
    ViewData["Title"] = "Google Chart Example";
}

<h1>Google Chart Example</h1>

<div id="chart_div" style="width: 100%; height: 500px;"></div>

<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        fetch('/api/Chart/GetFilteredQAs')
            .then(response => response.json())
            .then(data => {
                var dataArray = [['Error Date', 'Count']];
                data.forEach(item => {
                    dataArray.push([item.ErrorDate, item.Count]);
                });

                var googleData = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    title: 'Filtered QAs',
                    hAxis: { title: 'Date' },
                    vAxis: { title: 'Count' },
                    legend: 'none'
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                chart.draw(googleData, options);
            });
    }
</script>
