@model List<QADraft.Models.GeekQA>

@{
    ViewData["Title"] = "Flagged Accounts";
    Layout = ViewBag.Layout;
}

<partial name="_ReportsMenu" />
<h2>Flagged Accounts</h2>

<!-- Table that displays all 'flagged' accounts -->
<table id="table" class="table-qa">
    <thead>
        <tr>
            <th onclick="sortTable(0)">User<span class="arrow"></th>
            <th onclick="sortTable(6)">Flagged On<span class="arrow"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var qa in Model.OrderByDescending(q => q.ErrorDate))
        {
            <tr>
                <td>@qa.CommittedBy?.FirstName @qa.CommittedBy?.LastName</td>
                <td>@qa.FoundOn.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Highlight the current page's link
        var qaMenuLink = document.getElementById('qa-menu-link'); 
        qaMenuLink.classList.toggle('highlight-link');
    });
</script>