.buttons {
    color: #fff;
    background-color: #4A4A4A;
    border-color: #4A4A4A;
}

    .buttons:hover {
        color: #fff;
        background-color: #7c7c7c;
        border-color: #fff;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }

    .buttons:active {
        transform: translateY(1px) translateX(1px) !important;
        color: #fff;
        background-color: #7c7c7c;
        border-color: #fff;
    }

    .buttons[disabled] {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
        opacity: 0.6;
    }

.button-for-current-page {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.navbar {
    background-color: #4A4A4A;
    border-bottom: 3px solid rgb(0, 0, 0);
}

body {
    background-color: #2c2c2c;
    color: #fff;
}

.dashboard {
    background-color: #2c2c2c;
}

.link-bar {
    background-color: #3b3b3b;
    color: #fff;
    border-right: 3px groove #010101;
}

    .link-bar a:hover {

    }

.footer {
    background-color: #4A4A4A;
    color: #fff;
    border-top: 1px solid #000 !important;
}

.text-muted {
    color: #fff !important;
}

.event-calendar th {
    background-color: #2c2c2c;
}

#help-link {
    filter: invert(100%);
}

.form-control {
    background-color: #4A4A4A;
    border-color: #000;
    color: #fff;
}

    .form-control:focus {
        background-color: #4A4A4A;
        color: #fff;
    }

    .form-control::placeholder {
        color: #fff;
    }



select option {
    background-color: #4A4A4A;
    color: #fff;
}

    select:focus,select
    select option:focus,
    select option:hover {
        background-color: #4A4A4A;
        color: #fff;
    }

.event-calendar th {
    box-shadow: 0 1px 0 #4A4A4A;
}

.calendar {
    border: 1px solid #4A4A4A;
}

    .calendar tr {
        border-color: #4A4A4A;
    }

.table-your-qas tr {
    border-bottom: 1px solid #000;
}

    .table-your-qas tr:nth-child(even) {
        background-color: #3b3b3b;
    }

    .table-your-qas tr:nth-child(odd) {
        background-color: #2c2c2c;
    }

.table-qa tr {
    border-bottom: 1px solid #000;
}

    .table-qa tr:nth-child(even) {
        background-color: #3b3b3b;
    }

    .table-qa tr:nth-child(odd) {
        background-color: #2c2c2c;
    }


.modal-content {
    background-color: #2c2c2c;
}

    .modal-content
    select option {
    background-color: #4A4A4A;
    color: #fff;
}

        select:focus,select
        select option:focus,
        select option:hover {
            background-color: #4A4A4A;
            color: #fff;
        }

.settings-dropdown {
    background-color: #3B3B3B;
}

    .settings-dropdown a {
        color: #fff;
    }

    .settings-dropdown a:hover {
        background-color: #7c7c7c;
    }


.disabled-input {
    pointer-events: none;
    user-select: none;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#flag-description {
    background-color: #4A4A4A;
    border: 1px solid #000;
    color: #fff;
    outline: none;
}

    #flag-description:focus {
        box-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
        transition: box-shadow 0.2s;
    }

.SnipeItContainer {
    border-color: #4A4A4A !important;
}

.DatePicker, .snipeit-stat-outputs {
    background-color: #3b3b3b;
    border: 1px solid #4A4A4A;
}

#snipe-it-header {
    color: #fff;
}


.dialog-popups {
    background-color: #2C2C2C;
    color: #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.bordered-grid {
    border-left: 1px solid #4A4A4A;
    border-right: 1px solid #4A4A4A;
}

.grid-border-bottom {
    border-bottom: 1px solid #4A4A4A;
}

#donut-chart-tooltip {
    background-color: #2C2C2C;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

#donut-chart-legend {
    border-color: #4a4a4a;
    scrollbar-color: #fff #4a4a4a;
}

#scatter-plot-tooltip {
    background-color: #2C2C2C;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.guide-buttons {
    color: #fff;
    background-color: #4A4A4A;
    border-color: #4A4A4A;
}

.guide-buttons:hover {
    color: #fff;
    background-color: #7c7c7c;
    border-color: #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.svg-icon {
    filter: invert(100%);
}

#dateFilter {
    accent-color: #4a4a4a;
}