.buttons {
    color: #fff;
    background-color: #861F41;
    border-color: #861F41;
}

    .buttons:hover {
        color: #fff;
        background-color: #b31f4f;
        border-color: #E6A65D;
        box-shadow: 0 0 5px rgba(230, 168, 93, 0.7);
    }

    .buttons:active {
        transform: translateY(1px) translateX(1px) !important;
        color: #fff;
        background-color: #b31f4f;
        border-color: #E6A65D;
    }

    .buttons[disabled] {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
        opacity: 0.6;
    }
