html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

* {
    scrollbar-width: thin;
}

/* From Layout */
.navbar {
    /* background-color: #861F41;*/
    padding: 10px;
    vertical-align: middle;
    z-index: 1;
}

.nav-item {
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    text-align: center;
    padding-top: 10px;
}

.navbar-brand, .nav-link {
    color: #fff !important;
    margin-right: 20px;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 60px;
    position: fixed !important;
    bottom: 0;
    width: 100%;
}

.role-view {
    text-align: left;
    margin-left: 50px;
    justify-content: flex-start;
    flex-grow: 1;
}

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    margin-top: 20px;
}

.dropdown input[type="checkbox"] {
    display: none;
}

.dropdown .for-dropdown {
    cursor: pointer;
    padding: 5px;
    display: inline-block;
}

.settings-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    text-align: right;
    white-space: nowrap;
    white-space: nowrap;
}

.settings-dropdown.open {
    display: block;
}

.settings-dropdown a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: #333;
}

    .settings-dropdown a:hover {
        background-color: #f0f0f0;
    }

.user-name {
    color: white;
    font-family: 'Barlow';
    font-size: 18px;
    margin-left: 10px;
}

/* Styles for all buttons across the website */
.buttons {
    display: inline-block;
    /* color: #fff;
    background-color: #861F41;
    border-color: #861F41; */
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    border-color: transparent;
    border-radius: 5px;
}

header {
    margin-bottom: 20px;
    width: 100%;
}

#settings-icon {
    max-height: 20px;
    max-width: 20px;
}

/* Styles for all labels across the website */
.control-label {
    margin-top: 20px;
}

/* Styles for all buttons at the end of forms across the website */
.form-buttons {
    margin-top: 10px;
}

.cancel-forms {
    display: inline-block;
}


/* From ReportsMenu */
.table-qa {
    padding: .5rem .5rem;
    width: 100%;
}

    .table-qa tr {
        height: 50px;
        border-bottom: 1px solid #aaaaaa;
    }

        .table-qa tr:nth-child(even) {
            background-color: #eaeaea;
        }

        .table-qa tr:nth-child(odd) {
            background-color: #f5f5f5;
        }

    .table-qa td {
        vertical-align: middle;
        padding: 12px 0;
        padding-left: 10px;
    }

        .table-qa td:nth-child(n+1):nth-child(-n+4) {
        }

        .table-qa th:nth-child(n + 7),
        .table-qa td:nth-child(n + 7) {
            text-align: center;
        }


/* Delete this
#delete-event-button {
    font-size: 0.9rem;
    padding: 4px 8px;
}*/

.table-buttons {
    font-size: 0.9rem;
    padding: 4px 8px;
}

.table-your-qas {
    padding: .5rem .5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    width: 100%;
}

    .table-your-qas tr {
        height: 50px;
    }

    .table-your-qas td {
        vertical-align: middle
    }

        .table-your-qas td:nth-child(n+1):nth-child(-n+4) {
            padding-left: 10px;
        }
        
        .table-your-qas td:nth-child(3) {
            width: 80px;
        }

        .table-your-qas th:nth-child(n + 3),
        .table-your-qas td:nth-child(n + 3) {
            text-align: center;
        }

.severity-cell {
    width: 100%;
}

.menu-button {
    color: #fff;
    background-color: #861F41;
    border-color: #861F41;
}

    .menu-button:hover {
        color: #fff;
        background-color: #b31f4f;
        border-color: #E6A65D;
    }

#menu-bar {
    margin-bottom: 50px;
}

th {
    cursor: pointer;
    user-select: none;
}

.noSort {
    cursor: default;
    user-select: none;
}


.severity-span {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 75%;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    box-sizing: border-box;
    border-radius: 10px;
}

.severity-cell {
    position: relative;
}

.arrow {
    position: absolute;
}

/* From Index */
/* Styles for the main element of the page */
.dashboard {
    background: #f5f5f5;
    margin-bottom: 0;
}

.dashboard::after {
    content: "";
    clear: both;
}

    .dashboard .container {
        max-width: 100vw;
        margin-bottom: 85px;
    }

.modal-open .modal {
    overflow-y: auto;
}

.modal-footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.text-center {
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;

}

.past-event {
    display: none; /* Hide past events by default */
}

/* Styles for the external links bar (vertical bar on the left) */
.link-bar {
    height: 100%;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
}

/* Styles for the links */
    .link-bar a {
        margin-top: 40px;
    }

    .link-bar a img {
        display: flex;
        max-height: 30px;
        max-width: 40px;
    }

        .link-bar a:first-child {
            display: flex;
            margin-top: 115px;
        }

#help-link {
    margin-top: 7.5vh;
}

.calendar-container {
    height: 600px;
    max-height: 600px;
    width: 40%;
    float: left;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
}

.calendar {
    border: 1px solid black;
    max-height: 600px;
    overflow: auto;
}

.event-calendar {
    width: 100%;
}

    .event-calendar tbody {
        overflow: auto;
        max-height: 30%; /* Adjust as needed; subtract the height of the header */
    }

    .event-calendar tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        display: table-row;
    }

    .event-calendar td, th {
        padding: 10px 10px;
    }

    .table-event-time {
        width: 20%;
    }

    .event-calendar th:nth-child(3), .table-event-actions {
        width: 20%;
        text-align: center;
    }

    .event-calendar th {
        top: 0;
        position: sticky;
        background-color: #f5f5f5;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        z-index: 999;
    }
        
/* CSS for input field */
.editable input {
    border: none;
    width: 90%;
    box-sizing: border-box;
    padding: 5px;
}

.embed-reports-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 48%;
    margin-left: 50%;
    color: #f5f5f5;
    align-items: center;
}



         
/* From Login */
/* Styles for the login box */
.login {
    background-color: #f5f5f5;
    border: 2px groove black;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
}




/* From Outages */
.highlight-link {
    padding-bottom: 1px;
    border-bottom: 1px solid #fff;
}


/* From AllGeekQAs */
.action-btn {
    color: #fff;
    background-color: #861F41;
    border-color: #861F41;
}

    .action-btn:hover {
        color: #fff;
        background-color: #b31f4f;
        border-color: #E6A65D;
    }

.confirmation-dialog {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9f0ff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
}

.confirmation-content {
    text-align: center;
}

/* Style for the confirmation buttons */
.confirmation-buttons {
    margin-top: 20px;
}

    .confirmation-buttons button {
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
    }


/* From Filter */
.filter-options-button {
    color: #fff;
    background-color: #861F41;
    border-color: #861F41;
}

    .filter-options-button:hover {
        color: #fff;
        background-color: #b31f4f;
        border-color: #E6A65D;
    }

#table {
    margin-bottom: 55px;
}

.hidden-date {
    font-size: 0;
    padding: 16px;
}

.visible-date {
    font-size: 16px;
}

.button-group {
    margin-top: 10px;
}


/* From AddQA */
/* Styles for the submit button */
#submit-qa {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #861F41;
    border-color: #861F41;
    color: #fff;
}

.add-qa-button {
    color: #fff;
    background-color: #861F41;
    border-color: #861F41;
}

    .add-qa-button:hover {
        color: #fff;
        background-color: #b31f4f;
        border-color: #E6A65D
    }

.form-control,
select,
select option {
    background-color: #f8f9fa;
}

    select:focus,
    select option:focus,
    select option:hover {
        background-color: #f8f9fa;
    }

.placeholder {
    background-color: #f8f9fa;
}

.button-container button {
    margin-right: 10px;
}


/* From YourQAs */
#description-button {
    padding: 5px 8px;
}

#description-icon {
    width: 22px;
    height: 22px;
}


/* From AddUser */
.form-group select {
    margin-bottom: 0;
}

.add-user-btn {
    color: #fff;
    background-color: #861F41;
    border-color: #861F41;
}

    .add-user-btn:hover {
        color: #fff;
        background-color: #b31f4f;
        border-color: #E6A65D
    }


/* From EditUser */
.edit-user-btn {
    color: #fff;
    background-color: #861F41;
    border-color: #861F41;
}

    .edit-user-btn:hover {
        color: #fff;
        background-color: #b31f4f;
        border-color: #E6A65D
    }


.themes-container {
    display: flex;
}

.themes-divider {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
}


.dashboard {
    display: flex;
    flex-direction: column;
}

/*CSS for confirm delete modal*/
dialog {
    padding: 1rem 3rem;
    background: white;
    max-width: 400px;
    padding-top: 2rem;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 0.5s ease both;
}

.x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
}
 
    .x:hover {
        filter: grayscale(0);
        transform: scale(1.1);
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.themes-divider {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.theme-images {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 20px;
}
#flag-description {
    width: 100%;
    height: 100px;
}

#flag-account-button {
    border: none;
}

.popup-labels {
    font-size: 22px;
    margin-top: 20px;
}

.filter-your-qas-dialog {
    width: 400px;
}
    .filter-your-qas-dialog select {
        text-align: center;
    }

.filter-your-qas-dialog input {
    text-align: center;
    padding-left: 40px;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 10px solid;
    border-color: rgba(216, 60, 218, 0.15) rgba(216, 60, 218, 0.25) rgba(216, 60, 218, 0.35) rgba(216, 60, 218, 0.5);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

    .SnipeItContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;  
        gap: 20px; 

        border-radius: 0.5rem;
        padding: 1rem;
        border-style: groove;
        border-width: 3px;
    }

        .SnipeItContainer > * {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            box-shadow: inset 3px -3px 20px -10px #000000;
        }


        .SnipeItContainer > .DatePicker {
            grid-column: span 2;
            grid-row: 1;
            display: grid;
            grid-template-columns: repeat(2fr, auto);

        }

        .snipeit-stat-outputs td:nth-child(1) {
            width: 220px;
        }

            .SnipeItContainer > .DatePicker > button {
                margin-top: 10px;
            }

#flag-icon {
    height: 40px;
    max-height: 40px;
}

.color-input-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.color-input {
    height: 50px;
    width: 60px;
}

#dialog-details {
    min-width: 250px;
    max-width: 1000px;
}

.display-4 {
    margin-bottom: 40px;

}

.buttons.rainbow-gradient {
    background: linear-gradient(45deg, 
    #ff0000, /* Red */
    #ff8c00, /* Orange */
    #ffd700, /* Yellow */
    #00ff00, /* Green */
    #00bfff, /* Blue */
    #8a2be2, /* Purple */
    #ee82ee /* Violet */
    );
    
    color: white;
    cursor: pointer;
    width: 28px;
    height: 42px;
}

.event-color-span {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 31.6px;
    height: 31.6px;
    border-radius: 5px;
    padding: 10px;
}

#edit-colors-div {
    display: none;
}

#flagged-table-header, #flagged-table-data {
    text-align: center;
}


#all-qas-severity-table-header,
#all-qas-severity-table-data,
#all-qas-committed-on-table-header,
#all-qas-committed-on-table-data,
#all-qas-actions-table-header,
#all-qas-actions-table-data {
    text-align: center;
}

.dialog-group {
    display: flex;
}

.details-modal-content {
    width: 600px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto auto;
}

    .details-modal-content div {
        text-align: center;
    }

.grid-span-three-columns {
    grid-column: span 3;
}

#donut-chart-tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font: 12px sans-serif;
    background: #f5f5f5;
    border: 1px solid #bf19ff;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

#bar-chart-tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font: 12px sans-serif;
    background: #f5f5f5;
    border: 1px solid #bf19ff;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

#scatter-plot-tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font: 12px sans-serif;
    background: #f5f5f5;
    border: 1px solid #bf19ff;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

.severity-cell-container {
    padding-right: 10px !important;
    width: 40px;
}

.grid-test {
    display: grid;
    grid-template-columns: 300px 300px;
}

#griddy-test {
    grid-column: span 3;
}

.hidden-charts {
    display: none;
}

#top-charts-container {
    margin-top: 50px;
}

#donut-chart-div {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-bottom: 50px;
}

#donut-chart-legend-table {
    height: 300px;
    max-height: 300px;
}

#bottom-charts-container {
    display: flex;
    justify-content: space-evenly;
}

#donut-chart-legend {
    max-height: 300px;
    overflow-y: auto;
    border: 1px groove;
    scrollbar-width: thin;
}

    #donut-chart-legend table {
        width: 100%; 
        border-collapse: collapse; 
    }

iframe {
    width: 850px;
    height: 800px;
    margin-bottom: 50px;
}

.hidden-guide {
    display: none;
}

.guides-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    scrollbar-width: thin;
}

.guides-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0; 
    margin-bottom: 20px;
}

.guide-buttons {
    width: 850px;
    border: 3px ridge;
    margin-bottom: 10px;
}

.svg-icon {
    max-width: 25px;
}

#scatter-plot-div {
    display: flex;
    flex-direction: column;
}